@font-face {
  font-family: 'Asap';
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff2 supports variations'),
  url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 1000;
}

h1 {
  // And add this line below to ensure font-family works
  font-family: 'Raleway';
}